<div class="w-1/1 absolute pin-t flex align-center justify-center p-3">
  <h2 class="text-center text-white font-lighter my-0">Mitchel Jager</h2>
  <h2 class="text-center text-white my-0 ml-3">Astrophotography Portfolio</h2>
</div>

<%= image_tag "bloodmoon_edited.jpg", class: "w-1/1" %>
<%= image_tag "andromeda-1.jpg", class: "w-1/1" %>
