* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: theme-color("dark");
  color: theme-color("light");
}

.wrapper {
  width: 100%;
  max-width: calc(1200px + (var(--space-5) * 2));
  margin: 0 auto;

  @media (min-width: map-get($breakpoints, md)) {
    width: 80vw;
  }
}

img,
figure {
  width: 100%;
  height: auto;
  margin: 0;
}

time {
  display: block;
}

h1 {
  font-size: map-get($title-sizes, h1) / 2 !important;

  @include breakpoint(md) {
    font-size: map-get($title-sizes, h1) !important;
  }
}
