@import "flake/colors-list";

$css-variables: true;

$font-families: (
  serif: "Source Sans Pro"
);

$title-sizes: (
  h1: 4rem,
  h2: 3rem,
  h3: 2rem,
  h4: 1.5rem
);

$font-sizes: (
  small: .85em,
  normal: 18px,
  large: 1.15em
);

$font-weights: (
  lighter,
  normal,
  bold,
  bolder
);

$spacing: (
  0: 0,
  1: .25rem,
  2: .5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  10: 8rem,
  auto: auto
);

$full-colors: false;
$theme-colors: (
  light: map-get(map-get($colors-list, gray), 600),
  dark: darken(map-get(map-get($colors-list, gray), 900), 8%),
  white: #fff,
  black: #000
);
